.wrapper {
  display: grid;
  grid-template-columns: 266px 1fr 330px;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.wrapper > * {
  padding: 1rem 0.5rem;
}
.wrapper > * + * {
  padding-top: 6rem;
}

.wrapper > *:first-child {
  grid-column: 1 / -1;
}

:is(.sidebarSection, .rightSidebarSection) {
  height: 100dvh;
  position: relative;
  overflow: hidden;
}
:is(.sidebarSection, .rightSidebarSection) > * {
  height: 100%;
  position: sticky;
  overflow: auto;
  padding-top: 1rem;
}
:is(.sidebarSection, .rightSidebarSection) > *::-webkit-scrollbar {
  display: none;
}
