.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 1rem;
}

.wrapper button {
  padding: 0.5rem 1rem;
  font: inherit;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

button.active {
  background-color: #212734;
  color: #ff7000;
}

button.nonActive {
  background-color: #151821;
  color: #7b8ec8;
}

@media (max-width: 766px) {
  .wrapper {
    display: none;
  }
}
