:root {
  --accent-color-1: rgba(255, 112, 0, 1);
  --accent-color-2: rgba(265, 153, 95, 1);
  --accent-800: rgba(255, 241, 230, 1);
  --border-radius: 8px;
  --button-linear-gradient: linear-gradient(
    93deg,
    #ff7000 -13.95%,
    #e2995f 99.54%
  );
  --header-bg: rgba(15, 17, 23, 0.5);
  --dark-100: rgba(0, 0, 0, 1);
  --dark-200: rgba(15, 17, 23, 1);
  --dark-300: rgba(21, 24, 33, 1);
  --dark-400: rgba(33, 39, 52, 1);
  --dark-500: rgba(63, 67, 84, 1);
  --gradient: linear-gradient(
    232deg rgba(23, 28, 35, 0.41) 0%,
    rgba(19, 22, 28, 0.7) 100%
  );
  --primary-900: rgba(255, 255, 255, 1);
  --primary-850: rgba(253, 253, 253, 1);
  --primary-800: rgba(244, 246, 248, 1);
  --primary-700: rgba(220, 227, 241, 1);
  --primary-500: rgba(123, 142, 200, 1);
  --primary-400: rgba(133, 142, 173, 1);

  --base-size: 1rem;
  --scale: 1.25;
  --h5: calc(var(--base-size) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
}

.light {
  --primary-900: rgba(255, 255, 255, 1);
  --primary-850: rgba(253, 253, 253, 1);
  --primary-800: rgba(244, 246, 248, 1);
  --primary-700: rgba(220, 227, 241, 1);
  --primary-500: rgba(123, 142, 200, 1);
  --primary-400: rgba(133, 142, 173, 1);
}

.dark {
  --dark-100: rgba(0, 0, 0, 1);
  --dark-200: rgba(15, 17, 23, 1);
  --dark-300: rgba(21, 24, 33, 1);
  --dark-400: rgba(33, 39, 52, 1);
  --dark-500: rgba(63, 67, 84, 1);
  --gradient: linear-gradient(
    232deg rgba(23, 28, 35, 0.41) 0%,
    rgba(19, 22, 28, 0.7) 100%
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font: inherit;
}

button,
input {
  font: inherit;
  outline: none;
  border: none;
}

img {
  /* width: 100%; */
  max-width: 100%;
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}
